<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="base :: head">
    </head>
    <script th:src="@{/js/func/modifyUserPassword.js}"></script>
</head>
<body>

<div class="container account-container">

    <header class="header" th:replace="base :: header"></header>

    <div class="content">
        <div class="row">
            <div th:replace="base :: userNavigator"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-pull-4 col-lg-pull-4">
                <div class="section section-settings">
                    <h4>修改密码</h4>
                    <form id="modifyPasswordForm" method="post" onsubmit="return false;">
                        <div class="form-group">
                            <label for="password-current">原密码</label>
                            <input type="password" class="form-control" id="password-current" value="" placeholder="原密码"
                                   name="currentPassword"/>
                        </div>
                        <div class="form-group">
                            <label for="password-new">新密码</label>
                            <input type="password" class="form-control" id="password-new" value="" placeholder="新密码"
                                   name="newPassword"/>
                        </div>
                        <div class="form-group">
                            <label for="password-repeat">重复密码</label>
                            <input type="password" class="form-control" id="password-repeat" value="" placeholder="重复密码"
                                   name="rePassword"/>
                        </div>
                        <button type="submit" class="btn btn-primary" id="modifyEnterBtn">确定修改</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<div th:replace="base :: modal" id="modal"></div>

<script>
    $("#nav-user").addClass('active').siblings().removeClass('active');
    $('#p-account').addClass('active');
</script>
</body>
</html>