<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="base :: head">
    </head>
</head>
<body>

<div class="container">

    <header class="header" th:replace="base :: header"></header>

    <div class="content user">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-push-8 col-lg-push-8">
                <div class="section profile">
                    <div class="profile-main">

                        <img th:src="${userHeaderPath}!=null?@{${userHeaderPath}}:@{/img/default-avatar.png}"
                             width="100px" height="100px"/>

                        <div class="profile-name f-18" style="margin-top: 10px;" th:text="${userInfo.username}"><span
                                class="f-sub"></span></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-pull-4 col-lg-pull-4">

                <div class="section">
                    <!-- Nav tabs -->
                    <div class="profile-block" style="padding-left: 50px;padding-right: 50px;">
                        <div class="info-line main-div-margintop20">昵称: <span th:text="${userInfo.nickname}"></span></div>
                        <div class="info-line main-div-margintop20">性别: <span th:text="${userInfo.gender}"></span></div>
                        <div class="info-line main-div-margintop20">邮箱地址: <span th:text="${userInfo.email}"></span></div>
                        <div class="info-line main-div-margintop20">个人简介: <span th:text="${userInfo.description}"></span></div>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content"></div>
                </div>

            </div>

        </div>
    </div>

</div>


</body>
</html>