<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="base :: head">
    </head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.css}"/>
    <script th:src="@{/js/build/bootstrap-table.js}"></script>
    <script th:src="@{/js/func/userLoginLog.js}"></script>
</head>

<body>

<div class="container basic-container">

    <header class="header" th:replace="base :: header"></header>

    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-pull-4 col-lg-pull-4 publish-div"></div>
            <table data-toggle="table"
                   data-url="search"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-search="true"
                   data-height="600"
                   data-page-list="[15]"
                   data-detail-view="false">
                <thead>
                <tr>
                    <th data-field="username" data-align="center">用户名</th>
                    <th data-field="nickname" data-align="center">昵称</th>
                    <th data-field="loginDateTime" data-align="center">登录时间</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<script>
    $("#nav-user").addClass('active').siblings().removeClass('active');
</script>
</body>
</html>